* {
    padding: 0px;
    margin: 10px;
    color: #ae48dd;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    border: 3px solid #ebcb9c;
    background-color: #cf86e6;
    font-family: sans-serif;
            height: 120px;
    padding: 0;
}