/* ----------------------------------------------- */
/* HTML Elements */

* {
    padding: 0px;
    margin: 10px;
    color: #266926;
}

body {
    padding: 0px;
    margin: 0px;
}

article {
    border: 1px solid #55EC55;
    box-shadow: 2px 2px 5px #266926;
    margin: 3em;
    padding: 1em;
}

aside {
    background-color: #266926;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #55EC55;
    border: 2px solid #55EC55;
    float: right;
    width: 50%;
}

section {
    background-color: #266926;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #55EC55;
    float: right;
    width: 50%;
}

header * {
    color: #55EC55;
}

hr {
    padding: 0px;
    border: 4px solid #55EC55;
}

li {
    color: #55EC55;
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* Classes */

.header_logo {
    width: 80px;
    float: right;
    background-color: white;
    box-shadow: 2px 2px 5px #266926;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.page {
    padding: 2em;
    box-shadow: 2px 2px 5px #266926;
    background-color: #eeeeee;
    border: 3px solid #55EC55;
    border-radius: 10px;
    width: 50%;
    float: left;
}

body {
    color: green;
}

h1 {
    color: #55EC55;
    text-align: center;
    background-color: #266926;
}

h2 {
    color: #55EC55;
    text-align: center;
    background-color: #266926;
}


header {
    border: 3px solid #55EC55;
    background-color: #266926;
    font-family: sans-serif;
    text-align: center;
    height: 120px;
    padding: 0;
}

footer {
    border: 3px solid #55EC55;
    background-color: #266926;
    font-family: sans-serif;
    text-align: center;
    height: 120px;
    padding: 0;
}

