* {
    padding: 0px;
    margin: 10px;
    color: #266926;
}

body {
    padding: 0px;
    margin: 0px;
}

article {
    border: 1px solid #55EC55;
    box-shadow: 2px 2px 5px #266926;
    margin: 3em;
    padding: 1em;
}

aside {
    background-color: #266926;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    border: 5px solid #55EC55;
    float: right;
    width: 40%;
    padding: 1.5em;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

header {
    border: 3px solid #55EC55;
    background-color: #266926;
    font-family: sans-serif;
    height: 120px;
    padding: 0;
    text-align: center;
}

header * {
    color: #55EC55;
}

hr {
    padding: 0px;
    border: 4px solid #55EC55;
}

li {
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* Classes */

.header_logo {
    width: 80px;
    float: right;
    background-color: #266926;
    box-shadow: 2px 2px 5px #55EC55;
    border-radius: 5px;
    border: 1px solid #55EC55;
    padding: 0;
}

.page {
    padding: 2em;
    box-shadow: 2px 2px 5px #266926;
    background-color: #266926;
    border: 3px solid #266926;
    border-radius: 10px;
    width: 50%;
    float: left;
}

body {
    color: green;
}

h1 {
    color: #55EC55;
    text-align: center;
    background-color: #266926;
}

h2 {
    color: #55EC55;
    text-align: center;
    background-color: #266926;
}

img {
    border:5px solid black;
    padding:5em;
}